.AccordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.Target {
    display: flex;
    column-gap: 8px;
    margin-top: 8px;
}

.CacheName {
    word-break: break-all;
    font-weight: 600;
}

.ClearCacheButton {
    flex-shrink: 0;
}

.HeaderContentWrapper {
    min-width: 0
}
