.TextWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.Text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CopyIcon {
  color: var(--axile-primary-green);
  cursor: pointer;
}

.Tooltip {
  min-width: 0;
}