.MainWrapper {
    display: flex;
    column-gap: 8px;
}

.LevelsWrapper {
    display: flex;
}

.RadioGroupWrapper {
    position: relative;
}

.RadioButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 32px;
    font-size: 15px;
    line-height: 32px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--axelix-medium-grey);
    background-color: #fff;
    color: #000;
    transition: all 0.3s;
}

.RadioButton input {
    display: none;
}

.RadioButton.Selected,
.RadioButton.Selected:active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
}

.RadioButton.Selected:active {
    background-color: var(--color-primary-active);
    border-color: var(--color-primary-active);
}

.RadioButton:hover:not(.Selected) {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

.RadioButton:active:not(.Selected) {
    background-color: var(--color-primary-active);
    border-color: var(--color-primary-active);
    color: #fff;
}

.TargetIcon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: -7px;
    right: -7px;
    z-index: 500;
}

.Reset {
    color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}