.MainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RadioGroupWrapper {
    position: relative;
}

.RadioButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: 15px;
    height: 32px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--axelix-medium-grey);
    background-color: var(--axelix-primary-white);
    transition-duration: 0.3s;
}

.RadioButton input {
    display: none;
}

.RadioButton.Selected,
.RadioButton.Selected:active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--axelix-primary-white);
}

.RadioButton.Selected:active {
    background-color: var(--color-primary-active);
    border-color: var(--color-primary-active);
}

.RadioButton:hover:not(.Selected) {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

.RadioButton:active:not(.Selected) {
    background-color: var(--color-primary-active);
    border-color: var(--color-primary-active);
    color: var(--axelix-primary-white);
}

.TargetIcon {
    position: absolute;
    top: -7px;
    right: -7px;
    z-index: 500;
}
