.Link {
    transition: all 0.3s;
    align-self: center;
    padding: 8px 12px;
    border-radius: var(--axelix-border-radius-small);
    margin-right: 8px;
}

.Link:last-child {
    margin-right: 0;
}

.Link:hover,
.ActiveLink {
    color: var(--axelix-primary-green);
    background-color: var(--axelix-primary-light-green);
}
