.MainWrapper {
    background-color: #fff;
    border: 1px solid var(--axelix-light-grey);
    box-shadow: 0 6px 18px rgb(15 23 42 / 20%);
    border-radius: var(--axelix-border-radius-large);
    padding: 16px;
    width: 100%;
    align-self: flex-start;
}

.Title {
    text-align: center;
    margin-bottom: 20px;
}

.CardsWrapper {
    display: flex;
    gap: 20px;
}

.CardWrapper {
    border-radius: var(--axelix-border-radius-large);
    padding: 30px 8px;
    border: 1px solid var(--axelix-light-grey);
    flex-basis: 33%;
    text-align: center;
    box-shadow: 0 6px 18px rgb(15 23 42 / 20%);
}

.CardTitle {
    font-weight: 600;
    margin-bottom: 40px;
}

.CardValue {
    word-break: break-all;
}