.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--axelix-border-radius-large);
    box-shadow: var(--axelix-box-shadow-bold);
}

.Card:hover {
    cursor: pointer;
    color: inherit;
}

.CardHeader {
    display: grid;
    place-items: center;
    flex: 1;
    padding: 8px;
    text-align: center;
    font-weight: 500;
    border-radius: var(--axelix-border-radius-large);
    word-break: normal;
    transition: color 0.3s ease;
}

.Card:hover > .CardHeader {
    color: var(--axelix-primary-green);
}

.CardUP {
    border: 1px solid var(--axelix-primary-green);
}

.CardHeaderUP {
    background-color: var(--axelix-primary-light-green);
    outline: 1px solid var(--axelix-primary-green);
}

.CardDOWN {
    border: 1px solid var(--axelix-primary-red);
}

.CardHeaderDOWN {
    background-color: var(--axelix-primary-light-red);
    outline: 1px solid var(--axelix-primary-red);
}

.CardUNKNOWN {
    border: 1px solid var(--axelix-bold-grey);
}

.CardHeaderUNKNOWN {
    background-color: var(--axelix-medium-grey);
    outline: 1px solid var(--axelix-bold-grey);
}

/* TODO: Add correct color in future */
.CardRELOAD {
    border: 1px solid red;
}

.CardHeaderRELOAD {
    background-color: blueviolet;
    outline: 1px solid blue;
}

.CardBody {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px;
}

.CardBodyChunk {
    display: flex;
    column-gap: 8px;
}

.HashAndTimeWrapper {
    display: flex;
    justify-content: space-between;
}