.MainWrapper {
    display: grid;
    grid-template-columns: 30px 450px max-content;
    align-items: center;
    column-gap: 20px;
}

.ThreadNameAvatar {
    display: grid;
    place-items: center;
    height: 30px;
    width: 30px;
    color: #fff;
    border-radius: var(--axelix-border-radius-large);
}
