.AccordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  scroll-margin-top: var(--axelix-scroll-margin-top);
}

.BeanNameWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.Scope {
  display: inline-block;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
}

.ClassName {
  color: var(--axelix-bold-grey);
  margin-top: 8px;
}

.AccordionHeaderContent {
  min-width: 0;
}