.MainWrapper {
    min-height: 100vh;
}

.Sider {
    position: fixed;
    top: var(--axelix-header-height);
    height: 100vh;
    background-color: var(--axelix-primary-white);
    z-index: 10;
}

.HideSider {
    display: none;
}

.Content {
    padding: 24px;
    background-color: var(--axelix-primary-white);
}

.Content.WithSider {
    /* Set left margin equal to the width of the Sider component */
    margin-left: 270px;
}

.ContentLayout {
    margin-top: var(--axelix-header-height);
    padding: 24px;
}

/* Targets the thread-dump page */
.ContentLayout:has([data-thread-layout]) {
    min-width: max-content;
}

/* Targets the thread-dump page */
.Content:has([data-thread-layout]) {
    width: max-content;
    min-width: 100vw;
}