.MainWrapper {
    margin-bottom: 30px;
}

.ProfilesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-weight: 500;
    letter-spacing: 0%;
}

.ProfileTitle {
    background: var(--axelix-primary-light-green);
    border-radius: var(--axelix-border-radius-small);
}

.ProfileValue {
    background: var(--axelix-light-grey);
    border-radius: var(--axelix-border-radius-small);
}

.ProfileTitle,
.ProfileValue {
    padding: 8px;
}
