.CollapseBody {
  display: grid;
  grid-template-columns: 130px 70%;
  gap: 20px;
}

.Dependency {
  cursor: pointer;
}

.Dependency:hover {
  color: var(--axile-primary-green);
}

.Divider {
  margin-block: 5px;
}

.CollapseBodyChunkTitle {
  font-weight: 600;
  word-break: break-all;
}

.CollapseBodyChunkList {
  border-bottom: 1px solid var(--axile-gray);
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.CollapseBodyChunkList:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.Alias{
  word-break: break-all;
}
