.FirstSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;
}

.ConditionHeaderWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: var(--axelix-primary-light-green);
    font-weight: 600;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px;
    border: 1px solid var(--axelix-medium-grey);
    border-bottom: none;
    word-break: break-all;
}

.ConditionsMainTitle {
    margin-bottom: 20px;
}

.ConditionHeaderSection {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
