.HeaderWrapper {
    margin-bottom: 20px;
}

.Version {
    margin-top: 8px;
    font-size: 13px;
    color: var(--axelix-bold-grey);
}

.ParagraphGutter {
    margin-bottom: 12px;
}

.ParagraphGutter:last-child {
    margin-bottom: 20px;
}

.ParagraphGutter > a {
    color: var(--axelix-primary-blue);
    transition: color 0.3s;
}

.ParagraphGutter > a:hover {
    color: var(--axelix-primary-light-blue);
}

.ActionsWrapper {
    display: flex;
    column-gap: 12px;
    margin-bottom: 20px;
}