.grid_instance {
  border-color: black;
  text-align: center;
  padding: 10% 5% 10% 5%;
  border-radius: 5%;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.grid_instance_healthy {
  background-color: rgb(113, 241, 124);
}

.grid_instance_healthy:hover {
  background-color: rgb(145, 248, 154);
}

.grid_instance_unhealthy {
  background-color: rgb(223, 124, 100);
}

.grid_instance_unhealthy:hover {
  background-color: rgb(231, 141, 118);
}

.grid_instance_unknown {
  background-color: rgb(207, 200, 198);
}

.grid_instance_unknown:hover {
  background-color: rgb(221, 218, 217);
}

.instance_meta_info {
  font-size: small;
}

.instance_name {
  font-size: medium;
}
