.AccordionBody {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  gap: 20px;
}

.Divider {
  margin-block: 5px;
}

.AccordionBodyChunkTitle {
  font-weight: 600;
  word-break: break-all;
}

.AccordionBodyChunkList:not(:last-child) {
  border-bottom: 1px solid var(--axelix-medium-grey);
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.SimpleListValue {
  word-break: break-all;
}

/*
 TODO:
  Jesus, I hope this can be done simpler...
  Maybe we can just write our own checkbox
 */
.Flag :global(.ant-wave) {
  display: none;
}

.Flag:global(.ant-checkbox-wrapper),
.Flag:global(.ant-checkbox-wrapper *) {
  cursor: default !important;
}

.Flag:global(.ant-checkbox-wrapper:hover .ant-checkbox-inner),
.Flag :global(.ant-checkbox-inner) {
  border-color: var(--axelix-medium-grey) !important;
}

.Flag:global(.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner),
.Flag :global(.ant-checkbox-wrapper:hover .ant-checkbox-inner) {
  background-color: var(--axelix-primary-green) !important;
}