.MainWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}

.PropertyValueWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.IconPlaceholder {
    visibility: hidden;
    pointer-events: none;
}

.EditPropertyWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    column-gap: 8px;
}