.FirstSectionWrapper {
    height: 58px;
    position: sticky;
    top: var(--axelix-header-height);
    background-color: var(--axelix-primary-white);
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 30px;
    z-index: 9;
}

.SearchAndSettingsWrapper {
    display: flex;
    column-gap: 8px;
    align-self: flex-end;

    /* This size is measured from the start of the accordion to the end of the thread name */
    width: 488px;
}