.MainWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.MainTitle {
    width: min(500px, 100%);
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 40px;
    word-break: break-all;
    transform: translateX(50%);
}

.Download {
    width: fit-content;
    justify-self: end;
}

.List {
    margin-block: 30px;
    overflow: hidden;
}

.Collapse {
    border: none;
    border-bottom: 1px solid #0505050f;
    border-radius: 0;
    background-color: #fff;
}

.Collapse :global(.ant-collapse-header):hover {
    cursor: default;
}

.HeapDumpAccordionHeader {
    display: flex;
    justify-content: space-between;
    padding-inline: 8px 16px;
}

.Component {
    cursor: text;
}

.HeapDumpAccordionBody {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    gap: 20px;
    padding-inline: 28px 16px;
}

.LoaderWrapper {
    margin-block: 40px;
}

@media all and (width <= 1220px) {
    .MainTitle {
        text-align: left;
        transform: translateX(0);
    }
}