.AccordionWrapper {
    margin-bottom: 40px;
}

.AccordionHeader {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
}

.MainAccordionHeaderStyles {
    background-color: var(--axelix-primary-light-green);
    padding: 16px;
}

.KeyChunk {
    padding-right: 16px;
    flex-shrink: 0;
    word-break: break-all;
}

.ValueChunk {
    display: flex;
    justify-content: flex-end;
    word-break: break-all;
    padding-left: 16px;
}

.CommonPropertyWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 12px 16px 12px 44px;
    background-color: #fafafa;
    border-bottom: 1px solid var(--axelix-medium-grey);
}

.LinkIcon {
    margin-left: 8px;
}

.DeprecatedPropertyAccordionsHeader {
    background-color: var(--axelix-primary-light-red);
}