.MainWrapper {
    height: calc(100vh - 225px);
    overflow: auto;
}

.InnerWrapper {
    position: relative;
    width: 100%;
}

.ItemWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}