.Highlight {
    animation: highlight-fade 4s;
}

@keyframes highlight-fade {
    0% {
        background-color: var(--axelix-primary-green);
    }

    100% {
        background-color: var(--axelix-primary-light-green);
    }
}