.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--axelix-primary-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--axelix-header-height);
    border-bottom: 1px solid var(--axelix-medium-grey);
    box-shadow: var(--axelix-box-shadow-light);
    padding: 0 50px;
}

.Logo {
    width: 140px;
    cursor: pointer;
}

.LinksAndAvatarWrapper {
    display: flex;
    align-items: center;
}
