.MainWrapper {
    width: 100%;
}

.PropertyValueWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.EditPropertyWrapper {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}