/* TODO: this css class CustomizedAntdTable is used also for scheduled tasks, and I do not think it is correct */
.CustomizedTable {
    width: 100%;
    border: 1px solid var(--axelix-light-grey);
    border-radius: var(--axelix-border-radius-large);
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 40px;
}

.CustomizedTable:last-child {
    margin-bottom: 0;
}

.TableHeader {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--axelix-primary-light-green);
    font-weight: 600;
    border-bottom: 1px solid var(--axelix-light-grey);
    border-top-left-radius: var(--axelix-border-radius-large);
    border-top-right-radius: var(--axelix-border-radius-large);
}

.TableRow {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    transition: background-color 0.3s;
}

.TableRow:nth-child(even) {
    background-color: #f9f9f9;
}

.TableRow:hover {
    background-color: #f5f5f5;
}

.TableRow:last-child {
    border-radius: 6px;
}

.RowChunk {
    display: flex;
    align-items: center;
    padding: 16px;
    word-break: break-all;
    border-left: none;
}

.RowChunk:last-child {
    border-left: 1px solid var(--axelix-light-grey);
}