@font-face {
  font-family: "Golos";
  src: url("fonts/Variable_Golos_Text.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --axile-first-block-margin: 73px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Golos", Helvetica, Arial, sans-serif, -apple-system;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.MainContainer {
  background-color: #fff;
  max-width: 1450px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

/* 
remove in future
.MainWrapper {
  margin-top: 73px;
} */
