@font-face {
    font-family: Golos;
    src: url("assets/fonts/Variable_Golos_Text.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --axelix-header-height: 65px;
    --axelix-primary-green: #00ab55;
    --axelix-primary-light-green: #00ab551a;
    --axelix-light-grey: #f0f0f0;
    --axelix-medium-grey: #d9d9d9;
    --axelix-bold-grey: #838383;
    --axelix-primary-red: #ff000a;
    --axelix-primary-light-red: #ff000a1a;
    --axelix-primary-white: #fff;
    --axelix-primary-black: #000;
    --axelix-primary-blue: #1890ff;
    --axelix-primary-light-blue: #69c0ff;
    --axelix-border-radius-large: 8px;
    --axelix-border-radius-small: 4px;
    --axelix-box-shadow-bold: 4px 6px 14px rgb(15 23 42 / 25%);
    --axelix-box-shadow-light: 0 4px 20px rgb(0 0 0 / 10%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

body {
    font-family: Golos, Helvetica, Arial, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.MainContainer {
    background-color: var(--axelix-primary-white);
    max-width: 1450px;
    padding: 0 40px;
    width: 100%;
    margin: 0 auto;
}

.TextMedium {
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
}

.AccordionsWrapper {
    border: 1px solid var(--axelix-medium-grey);
    border-radius: var(--axelix-border-radius-large);
    overflow: hidden;
}

.ant-switch,
.ant-switch-handle {
    transition: all 0.15s ease !important;
}
