.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgb(138, 226, 152);
  z-index: 10;
  display: flex;
  align-items: center;
  min-height: 73px;
}

.HeaderInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.MainTitle {
  flex-grow: 7;
  font-size: x-large;
  padding-left: 2%;
  text-align: left;
}

.SearchBarHeader {
  margin-right: 2%;
}

.NavBarHeader {
  padding-right: 2%;
}
